<div class="dialog-container">

  <h2>
    Claim Details
  </h2>

  <div class="detail-grid">

    <div>
      <strong>Report ID:</strong>
      {{data.report_id}}
    </div>

    <div>
      <strong>Employee:</strong>
      {{data.employee_name}}
    </div>

    <div>
      <strong>Department:</strong>
      {{data.department}}
    </div>

    <div>
      <strong>Manager:</strong>
      {{data.manager}}
    </div>

    <div>
      <strong>Purpose:</strong>
      {{data.business_purpose}}
    </div>

    <div>
      <strong>Cost Center:</strong>
      {{data.cost_center}}
    </div>

    <div>
      <strong>Status:</strong>
      {{data.status}}
    </div>

    <div>
      <strong>Total Amount:</strong>
      ₹{{data.total_amount}}
    </div>

  </div>

  <h3>
    Expense Items
  </h3>

  <table>

    <thead>

      <tr>

        <th>Category</th>

        <th>Merchant</th>

        <th>Amount</th>

        <th>Description</th>

      </tr>

    </thead>

    <tbody>

      <tr
        *ngFor="let item of data.expense_items">

        <td>{{item.category}}</td>

        <td>{{item.merchant}}</td>

        <td>₹{{item.amount}}</td>

        <td>{{item.description}}</td>

      </tr>

    </tbody>

  </table>

  <h3>
  Uploaded Receipts
</h3>

<div
  *ngFor="let file of data.attachments"
  class="attachment">

  <div class="attachment-info">

    <span>
      📎 {{ file.original_file_name }}
    </span>

  </div>

  <a
    mat-raised-button
    color="primary"
    [href]="'http://127.0.0.1:8000/' + file.file_path"
    download
    target="_blank">

    ⬇ Download

  </a>

</div>

<div
  *ngIf="data.attachments.length === 0">

  No Attachments Available

</div>

<div class="dialog-actions">

    <button
      mat-flat-button
      color="primary"
      mat-dialog-close>

      Close

    </button>

  </div>

</div>