<div class="dashboard-container">

  <div class="dashboard-header">

    <div>
      <h1>Dashboard</h1>
      <p class="subtitle">
        Expense Claims Overview
      </p>
    </div>

  </div>

  <div class="top-section">

    <div class="filters">

      <mat-form-field appearance="outline">

        <mat-label>Year</mat-label>

        <mat-select [(value)]="selectedYear">

          <mat-option [value]="0">
  All Years
</mat-option>
          <mat-option
            *ngFor="let year of years"
            [value]="year">

            {{ year }}

          </mat-option>

        </mat-select>

      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Month</mat-label>

        <mat-select [(value)]="selectedMonth">
          <mat-option value="">
  All Months
</mat-option>

          <mat-option
            *ngFor="let month of months"
            [value]="month">

            {{ month }}

          </mat-option>

        </mat-select>

      </mat-form-field>

    </div>

    <div class="summary-cards">

      <mat-card class="summary-card raised">

        <div class="card-title">
          Total Raised
        </div>

        <div class="card-value">
          ₹{{ totalRaised }}
        </div>

      </mat-card>

      <mat-card class="summary-card pending">

        <div class="card-title">
          Pending
        </div>

        <div class="card-value">
          ₹{{ totalPending }}
        </div>

      </mat-card>

      <mat-card class="summary-card approved">

        <div class="card-title">
          Approved
        </div>

        <div class="card-value">
          ₹{{ totalApproved }}
        </div>

      </mat-card>

    </div>

  </div>

  <div class="table-header">

    

  <mat-form-field
    appearance="outline"
    class="search-box">

    <mat-label>
      Search Claims
    </mat-label>

    <input
      matInput
      [(ngModel)]="searchText"
      placeholder="Report ID / Status">

  </mat-form-field>

  <mat-form-field
    appearance="outline"
    class="status-filter">

    <mat-label>
      Status
    </mat-label>

    <mat-select
      [(value)]="selectedStatus">

      <mat-option
        *ngFor="let status of statuses"
        [value]="status">

        {{ status }}

      </mat-option>

    </mat-select>

  </mat-form-field>

</div>
 


<mat-card

  class="table-card">

    <table>

      <thead>

        <tr>

          <th>Report ID</th>

          <th>Submission Date</th>

          <th>Amount</th>

          <th>Status</th>

          <th>Action</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let claim of filteredClaims">

          <td>{{ claim.report_id }}</td>

          <td>{{ claim.submission_date }}</td>

          <td>₹{{ claim.total_amount }}</td>

          <td>

            <span class="status">

              {{ claim.status }}

            </span>

          </td>

          <td>

           <button
            mat-raised-button
            color="primary"
            class="view-btn"
            (click)="viewClaim(claim.id)">

            👁️ View

          </button>
          </td>

        </tr>

        <tr *ngIf="filteredClaims.length === 0">

          <td
            colspan="5"
            style="
              text-align:center;
              padding:30px;
            ">

            No Claims Found

          </td>

        </tr>

      </tbody>

    </table>

  </mat-card>

  
 

</div>